<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SubscriptionServicePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.entities.Transaction</class>
    <class>com.entities.Messages</class>
    <class>com.entities.Requests</class>
    <class>com.entities.Subscribers</class>
    <class>com.entities.Product</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/subscription?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="jokes"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="subscription"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.query-results-cache" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
